* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
}

body  {
    background: linear-gradient(rgb(122, 224, 255),rgb(248, 218, 255));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

form {
    background: white;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 30px;
    font-size: 1.5em;
    box-shadow: 0px 5px 10px #8a8989;
}

input[type="text"], input[type="password"], select {
width: 100%;
font-size: 1em;
padding: 5px;
margin: 10px 0;
border-radius: 10px;
}

input[type="radio"]{
    margin: 0 5px;
}

input[type="submit"]{
    display: block;
    margin: 20px auto;
    font-size: 1em;
    padding: 10px;
    background-color: rgb(122, 224, 255);
    border-radius: 15px;
    border: none;
}

input[type="submit"]:hover{
    background-color: rgb(58, 184, 223);
    cursor: pointer;
}

footer {
    margin-top: 30px;
    text-align: center;
}

footer img {
    border-radius: 20px;
}

#zipcodeError {
    color: red;
}

span {
    font-weight: bold;
}

#suggestedPwd {
    color:green;
}

#passwordError {
    color: red;
}
