* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 15px 0;
}

.all-container{
    width: 100%;
    margin: 0 auto;
    flex: 1;
}

#searchError {
    color: red;
    margin-top: 10px;
    font-size: 1.2em;
}

.search-container{
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
}

body {
    background: linear-gradient(rgb(122, 224, 255),rgb(253, 242, 255));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#weather-form {
    display: flex;
    gap: 5px;
}
#city-input {
    flex: 1;
    padding: 5px;
    font-size: 1.4em;
    border-radius: 15px;

}

button {
    flex-shrink: 0;
    padding: 15px;
    font-size: 1.4em;
    border-radius: 15px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(223, 215, 215);
}



.weather-data-container {
    display: none;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    background: linear-gradient( #e2e0e0, #9e9e9e);
    box-shadow: 0px 5px 10px #8a8989;
    
}

h2{
    font-size: 2.5em;
}

h4{
    font-size: 2em;
}
h5{
    font-size: 1.8em;
}

p {
    font-size: 1.2em;
}

.weather-data-container > * {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 25px;
}